/.idea/**

/www/home/storage/load/**
!/www/home/storage/load/.gitkeep
/www/home/storage/photo/**
!/www/home/storage/photo/.gitkeep
/home/src/sb-werewolf-2025/src/out/**
!/home/src/sb-werewolf-2025/src/out/.gitkeep

/home/src/node_modules/**
/www/home/sb-werewolf-2025/**
/tasks/
