# Telegram alerts for server-watchdog (optional)
# Fill TOKEN and CHAT_ID and restart server-watchdog.timer
#
# How to get token:
#   @BotFather -> /newbot
#
# How to get chat id:
#   send a message to bot, then open:
#   https://api.telegram.org/bot<TOKEN>/getUpdates
#
TELEGRAM_TOKEN=""
TELEGRAM_CHAT=""
