[Unit]
Description=KV1 Auto Deploy
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/homepage
ExecStart=/usr/local/bin/kv1-deploy
